.reportsWrapper {
  width: 100%;
  display: flex;

  .reportsRight {
    flex: 5;
    overflow-x: hidden;

    .reportsMainWrapper {
      padding: 30px 64px;

      .reportsMainTopForm {
        display: flex;

        .companySelect {
          width: 300px;
          max-width: 400px;
        }

        .candidateName {
          width: 300px;
          max-width: 300px;
        }

        .reportsBtn {
          width: 80px;
          background-color: rgba(100, 57, 255, 1);
          padding: 6px 12px;
          display: flex;
          align-items: center;
          color: white;
          border-radius: 10px;
          justify-content: center;
          cursor: pointer;
        }
      }
      .reportsMainBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        .searchImg {
          height: 380px;
        }

        & > h3 {
          color: rgb(114, 114, 114);
        }
      }
    }
  }
}
