.resetPasswordWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(rgba(128, 0, 128, 0.58), rgba(255, 0, 0, 0.29));
  background: radial-gradient(#7551f8bc, rgba(246, 242, 242, 0.29));

  background: radial-gradient(
    222.43% 335.73% at 25.87% 87.4%,
    #7551f8bc 6.55%,
    #b7cbf0 25%,
    #fff 50%,
    #a699c2 75%,
    #bec9c3 100%
  );
  align-items: center;
  justify-content: center;
  .resetPasswordWrapperRight {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .resetPasswordFormWrapper {
      width: 80%;
      height: 80%;
      height: 570px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba(255, 255, 255, 0.281);
      backdrop-filter: blur(10px);
      padding: 20px;
      border-radius: 20px;

      .resetPasswordHeading {
        font-size: 32px;
        font-weight: bolder;
        color: rgb(28, 16, 16);
        color: rgb(1, 42, 68);
        color: rgb(0, 0, 0);
        text-align: center;
      }
      .resetPasswordInputs {
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        width: 100%;

        .passwordWrapper {
          position: relative;

          & > span {
            position: absolute;
            top: 20%;
            right: 30px;
            cursor: pointer;
          }
        }

        input {
          width: 100%;
          margin-bottom: 20px;
          margin-top: 2px;
          height: 35px;
          padding: 5px;
          border: 1px solid silver;
          border: none;
          border-bottom: 1px solid rgba(77, 77, 77, 0.521);
          position: relative;
          background: none;

          &:focus {
            outline: none;
            border-bottom: 1px solid rgb(0, 0, 0);
          }
        }
        .checkboxWrapper {
          // background-color: red;
          display: flex;
          flex-direction: column;

          .checkbox {
            margin-right: auto;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
      .resetPasswordBtn {
        background-color: rgb(0, 79, 128);
        background-color: rgb(1, 42, 68);
        background-color: rgb(0, 0, 0);

        border: none;
        color: white;
        height: 50px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        &:disabled {
          background-color: rgba(0, 0, 0, 0.781);
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .resetPasswordWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .resetPasswordWrapperRight {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
