.abc {
  background-color: #ece8ff7b;
  background-color: #e1dbfd;
  background-color: #33a23e4d;
  background-color: #33a23e24;
  background-color: #FF8C3938;
  background-color: #ff8c394f;
  background-color: #3970FF36;
  background-color: #3971ff24;
}
