* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --border-silver-color: #e6e3e3;
  --text-silver-color: #999;
  --hover-light-purple: #ece8ff;
  --light-purple: #ece8ff;
  --main-purple: #7451f8;
}

ul {
  padding: 0;
}
